[default]
network_name = cit_patents 
output_dir = ~/sample_data
algorithm = leiden
resolution = 0.5,0.01,0.1
cm_version = new

[cleanup]
cleanup_script =./scripts/cleanup_el.R
input_file = ~/sample_data/cit_patents.tsv

[clustering]
clustering_script = runleiden

[filtering_bf_cm]
filtering_script=./scripts/subset_graph_nonetworkit_treestar.R
cm_ready_script =./scripts/make_cm_ready.R

[connectivity_modifier]
threshold = 1log10

[filtering_af_cm]
filtering_script=./scripts/subset_graph_nonetworkit_treestar.R
cm_ready_script =./scripts/make_cm_ready.R



