[default]
network_name = name_appended_to_the_output_file
output_dir = root_folder_path_where_the_output_files_are_generated
algorithm = clustering_algorithm_used_in_clustering_and_cm_stage
resolution = resolution_values_seperated_by_commas
cm_version = new or old

[cleanup]
cleanup_script = script_path_to_be_used_for_removing_parallel_edges_self_loops
input_file = parent_network_graph.tsv

[clustering]  
clustering_script = runleiden or ikc. % ikc is not yet supported

[filtering_bf_cm]
filtering_script = script_used_for_filtering_nontree_stars_and_clusters_with_size_gt_10
cm_ready_script = script_used_for_making_the_tsv_compatible_for_cm

[connectivity_modifier]
threshold = 1log10

[filtering_af_cm]
filtering_script = script_used_for_filtering_nontree_stars_and_clusters_with_size_gt_10
cm_ready_script = script_used_for_making_the_tsv_compatible_for_cm