# Currently each stage runs one after the other but the input files are not yet taken from the output of the 
# previous stage. This link will be created after all the stages are tested.

[default]
# this name will be appended to the output files generated in all stages
network_name = cit_patents
output_dir = ~/sample_data/output

[cleanup]
script=./scripts/cleanup_el.R
input_file = ~/sample_data/cit_patents_cleaned.tsv

[clustering]  #stage name
algorithm = leiden
resolution = 0.5 
input_file = ~/sample_data/cit_patents_cleaned.tsv

[filtering]
script=./scripts/subset_graph_nonetworkit_treestar.R
input_file = ~/sample_data/cit_patents_cleaned.tsv
clustering_file = ~/cit_patents_leiden.1_rep1/cit_patents_leiden.1_rep1.tsv
output_file_tag = cit_patents_trimmed

[connectivity_modifier]
input_file = testing
resolution = testing
clustering_algorithm = testing
threshold = testing
existing_clustering_file = testing


