[default]
# this name will be appended to the output files generated in all stages
network_name = cit_patents
output_dir = ~/sample_data/output

[cleanup]
script=./scripts/cleanup_el.R
input_file = ~/sample_data/cit_patents.tsv

[clustering]  #stage name
algorithm = leiden
resolution = 0.5

[filtering_bf_cm]
filtering_script=./scripts/subset_graph_nonetworkit_treestar.R
cm_ready_script =./scripts/make_cm_ready.R

[connectivity_modifier]
clustering_algorithm = leiden
threshold = 1log10

[filtering_af_cm]
filtering_script=./scripts/subset_graph_nonetworkit_treestar.R
cm_ready_script =./scripts/make_cm_ready.R



